html {
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #f6f6f7;
  background-color: black;
}

header {
  display: flex;
  min-height: 10dvh;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  height: 82dvh;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 4rem;
}

.menu,
.sketch-area,
.canvas {
  border-radius: 0.5rem;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 100%;
  background-color: #40454f;
  padding: 0 1rem 3.5rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #797c83;
  height: 100%;
  border-radius: 0.5rem;
}

h1 {
  font-size: 2rem;
  margin: 0.5rem;
}

h1 span {
  border-bottom: solid #f6f6f7 0.15rem;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
  color: #000000;
}

.start,
.color-btns,
.special {
  padding: 0.5rem 0.4rem;
}

button {
  border: solid #f6f6f7 0.05rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

button:hover {
  border: solid #40454f 0.05rem;
  border-radius: 0.25rem;
}

button.active {
  border: solid #40454f 0.05rem;
  border-radius: 0.25rem;
  box-shadow: 0rem 4.05px 8.1px #f6f6f7,
    /* Shadow for bottom */ 4.05px 0rem 8.1px #f6f6f7,
    /* Shadow for right side */ -4.05px 0rem 8.1px #f6f6f7,
    /* Shadow for left side */ 0rem -4.05px 8.1px #f6f6f7,
    /* Shadow for top */ 0rem 1.62px 4.05px rgba(198, 170, 88, 0.5),
    /* Inner shadow */ 4.05px 0rem 4.05px rgba(198, 170, 88, 0.5),
    -4.05px 0rem 4.05px rgba(198, 170, 88, 0.5),
    0rem -1.62px 4.05px rgba(198, 170, 88, 0.5);
}

.start button,
.special button {
  background-color: #40454f;
  color: #f6f6f7;
}

.color-btns button {
  width: 2rem;
  aspect-ratio: 1 / 1;
  border: solid #40454f 0.05rem;
}

.color-btns button:hover {
  border: solid #f6f6f7 0.05rem;
}

#red-btn {
  background-color: #df0000;
}

#orange-btn {
  background-color: #d65b00;
}
#yellow-btn {
  background-color: #e9f500;
}
#green-btn {
  background-color: #17ff11;
}
#liteblue-btn {
  background-color: #1dffff;
}
#darkblue-btn {
  background-color: #0511ff;
}
#violet-btn {
  background-color: #ca00fd;
}
#rainbow-btn {
  background-image: linear-gradient(
    89.7deg,
    #df0000 2.7%,
    #d65b00 15.1%,
    #e9f500 29.5%,
    #17ff11 45.8%,
    #1dffff 61.5%,
    #0511ff 76.4%,
    #ca00fd 92.4%
  );
}
#black-btn {
  background-color: #000000;
}

#white-btn {
  background-color: #ffffff;
}

.sketch-area {
  background-color: #40454f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 3.5rem;
}

.canvas {
  background-color: #d2d5da;
  border: solid #4a515d 0.1rem;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  aspect-ratio: 1 / 1;
}

.canvas.alpaca-img {
  background-image: url(./img/alpacasmol.png);
  background-size: cover;
}

.square {
  background-color: black;
  border: solid #f6f6f7 0.1rem;
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 5dvh;
  font-size: 1rem;
  padding: 0.5rem;
}

footer a {
  color: inherit;
  overflow: hidden;
}

footer a:active {
  display: flex;
  align-items: flex-end;
  color: inherit;
}

footer a img:hover {
  transform: scale(2);
}

footer img {
  height: 1.5rem;
  width: 1.5rem;
}
